<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form action='/dashboard' method="get">
            <select name = "ticker">
                <option value="AAPL">애플</option>
                <option value="AMZN">아마존</option>
                <option value="MSFT">마이크로소프트</option>
            </select>
            <input type="submit">
        </form>
    </body>
</html>