<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include "header.html" %}
    </head>
    <body>
        <h3>main page</h3>
        <button onclick="location.href='/signup2'">회원가입</button>
        
        <form action="/game">
            <div>
                <input type="text" name="nickname" required>
            </div>
            <div>
                <input type="submit" value="게임 시작">
            </div>
        </form>
    </body>
</html>
<style>
</style>